@import "../../sass/variable.sass"

.input-cascader
  width: 100% !important

.ant-cascader-menus ul, .ant-cascader-menus ol 
  margin: 0
  padding: 0
  list-style: none
  min-width: 200px !important

.mp-cascader-default:hover
  border: 1px solid $color-teal !important

.mp-cascader-default:focus
  box-shadow : none !important

.mp-cascader-error
  border: 1px solid $color-carmine !important

.ant-cascader-input.ant-input:hover
  border: none !important
  
.ant-cascader-input.ant-input:focus
  border: none !important

.ant-cascader-picker:focus .ant-cascader-input
    border-color: $color-teal !important
    border-right-width: 1px !important
    outline: 0
    -webkit-box-shadow: none !important
    box-shadow: none !important

