.mp-btn-icon
    margin: 0 8px
    font-size: 18px
    color: $color-grey!important

.mp-wrap-btn-icon
    height: 30px
    width: 30px
    border-radius: 4px
    background-color: #FFFFFF
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19)
    margin: 0 6px 0 6px
    cursor: pointer    