@import "../../sass/variable.sass"

.input-text
  padding: .5rem
  font-size: 16px
  width: 100%
  display: block
  border-radius: 4px
  border: 1px solid #ccc
.input-error
  border-color: red
.input-feedback 
  color: red
  margin-top: .25rem
.loginContainer
  display: flex
  justify-content: center
  height: 100vh
  align-items: center
.loginForm
  display: flex
  justify-content: center
.admin
  height: 24px
  width: 117px
  color: $color-teal
  font-size: 20px
  font-weight: 500
  line-height: 25px