@mixin mp-btn
    font-size: 18px !important
    border-radius: 4px !important
    height: 42px !important
    padding: 0 16px !important
    margin: 0 4px !important
    letter-spacing: 0.11px !important

@mixin mp-input
    height: 48px !important
    font-size: 18px !important
    // border-radius: 4px !important
    // margin: 4px

@mixin mp-btn-text-icon
    font-size: 14px
    font-weight: 300
    cursor: pointer
    float: left
    margin: 12px 12px 6px 12px
