@import "../../sass/variable.sass";

.mp-btn-primary
    @include btn-type-1
    background: $color-safety-orange !important
    border-color: initial !important

.mp-btn-secondary
    @include btn-type-1
    color: $color-teal !important
    border-color: initial !important

.mp-btn-width-default
    padding: 0 16px !important

.mp-btn-width-full
    width: 100% !important
