.status-order-purchased
    color: $color-teal
.dot
  height: 7px
  width: 7px
  border-radius: 50%
  display: inline-block
  position: relative
  bottom: -8px
  left: -8px
  &__color-shipped
    background-color: #1890FF
  &__color-arrived
    background-color: #52C41A