@import "../../sass/variable.sass"
.containerUpload
  position: relative
  width: 100px
  height: 100px

.containerUpload img 
  width: 100%
  height: 100%

.containerUpload btn
  position: absolute !important
  bottom: 0 !important

.ant-upload.ant-upload-select-picture-card
  border: none !important

.ant-upload.ant-upload-select-picture-card > .ant-upload
  padding: 0 !important

.cameraIcon
  position: absolute !important
  top: 8px
  right: 8px
  font-size: 20px !important

.deleteIcon
  position: absolute !important
  top: 8px
  left: 8px
  font-size: 20px !important

.cameraIcon:hover
  color: $color-safety-orange

.deleteIcon:hover
  color: $color-safety-orange
