@import "../../sass/variable.sass"

.containerProduct
  padding: 24px

.card-title
  color: $color-black
  font-size: 18px
  font-weight: bold
  letter-spaceing: 0.29px

.card-content
  color: $color-black
  font-size: 16px
  letter-spacing: 0.26px

.card-sub-content
  width: 255px
  font-size: 14px

.text-error-message
  color: $color-carmine
  font-size: 14px
