.label-total
    color: #D0021B
    font-family: "Helvetica Neue"
    font-size: 14px
    line-height: 16px
.label-filter
    color: #9B9B9B
    font-family: "Helvetica Neue"
    font-size: 14px
    line-height: 16px
    padding-right: 30px