.label-indonesia {
  /* display: flex;
  justify-content: center; */
  font-family: arial;
  margin: 24px;
}

.label-indonesia .ant-divider {
  margin: 0;
  background: #cccccc;
}

.label-indonesia .ant-row {
  width: 100%;
}

.label-box {
  width: 388px;
  border: 1px solid #cccccc;
}

.title-image {
  display: flex;
  justify-content: center;
  margin: 14px 0 10px 0;
}

.title-image img {
  height: 12px;
}

.label-from {
  padding: 8px 16px;
  font-size: 8px;
  width: 100%;
}

.colon {
  text-align: end;
  padding-right: 2px;
}

.label-form-row {
  width: 100%;
}

.label-form-content {
  font-weight: bold;
  color: #000000;
}
