@import "../../sass/variable.sass"

.mp-table-product-action

.mp-icon-product-action
    margin: 0 8px
    font-size: 18px
    color: $color-safety-orange!important
.mp-container-header-table
    display: flex
    justify-content: space-between
.mp-container-title-select
    margin-bottom: 24px
.mp-span-title-select
    margin-right: 12px
.mp-select-product-list
    margin: 0 8px!important