.wrap-button-text-icon {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.wrap-button-text-icon > span:first-child {
    margin-left: 0px;
}

.wrap-button-text-icon > span:last-child {
    margin-right: 0px;
}

.wrap-button{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.wrap-button > button:first-child {
    margin-left: 0px!important;
}

.wrap-button > button:last-child {
    margin-right: 0px!important;
}

.img-order-product{
    height: 80px;
    width: 80px;
}

.wrap-variant{
    display: flex;
}

.mp-container-title-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.mp-container-title-product > span {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
}
.mp-container-header-table {
    display: flex;
    justify-content: space-between;
}
.mp-container-title-select {
    margin-bottom: 24px;
}
.mp-span-title-select {
    margin-right: 12px;
}
.mp-select-product-list {
    margin: 0 8px!important;
}
