.confirm-title
    color: #000000
    font-family: "Helvetica Neue"
    font-size: 18px
    font-weight: 500
    letter-spacing: 0.11px
    line-height: 23px
.confirm-description
    color: #777777
    font-family: "Helvetica Neue"
    font-size: 18px
    letter-spacing: 0.11px
    line-height: 22px